.content-heading.bg-white
    .row
        .col-sm-9
            h4.m0.text-thin RiskMan Book Options
            small update Book Risk Management options
.container-fluid
    .row
        .col-sm-6
            .card(ng-controller='OptionsAuthController as o')
                .card-body
                    h4.card-title Client API Credentials (OAuth 2)
                    p.card-text In this section you can create, reset or delete credentials. This Authorizes the book access to the API.
                    .row
                        .col-sm-12
                            button.btn.btn-success(ng-show="!o.bookAuth.exists" ng-click="o.createAuth()") Create
                            button.btn.btn-danger(ng-show="o.bookAuth.exists" ng-click="o.deleteAuth()") Delete
                            button.btn.btn-warning(ng-show="o.bookAuth.exists" ng-click="o.saveAuth(); o.isFormValid();" ng-disabled="o.saveDisable") Save
                            button.btn.btn-info(ng-show="o.bookAuth.exists" ng-click="o.generatePass(); o.validatePass();") Generate Random Password
                    .row.margin-top(ng-if="o.bookAuth.exists")
                        form
                            .form-group
                                .col-sm-6
                                    label.form-control-label(for="username") Username:
                                        button.btn.btn-raised(ng-show="o.userAvail !== -1" ng-class="{'btn-success':(o.userAvail === 1), 'btn-danger':(o.userAvail === 0)}")
                                            span(ng-class="{'ion-checkmark': (o.userAvail === 1), 'ion-close-circled': (o.userAvail === 0)}")
                                    input.form-control(type="text" placeholder="username" id="username" ng-model="o.bookAuth.client_id" ng-change="o.isUserAvail(); o.validateUser(); o.isFormValid();") 
                            .form-group
                                .col-sm-6
                                    label.form-control-label(for="password") Password:
                                        button.btn.btn-raised(ng-show="o.passAvail !== -1" ng-class="{'btn-success':(o.passAvail === 1), 'btn-danger':(o.passAvail === 0)}")
                                            span(ng-class="{'ion-checkmark': (o.passAvail === 1), 'ion-close-circled': (o.passAvail === 0)}")
                                    input.form-control(type="text" placeholder="password" id="password" ng-model="o.bookAuth.client_secret" ng-change="o.validatePass();o.isFormValid();")
                    .row.margin-top
                        .form-group
                            .col-sm-6
                                .alert.alert-warning(ng-show="!o.userError.valid" role="alert") {{o.userError.msg}}
                            .col-sm-6
                                .alert.alert-warning(ng-show="!o.passError.valid" role="alert") {{o.passError.msg}}
        .col-sm-6
            .card(ng-controller="OptionsFormatController as of")
                .card-body
                    h4.card-title API Input Format Options
                    p.card-text In this section we define what the expected incomming data input format is.
                    .row.margin-top
                        .col-sm-12
                            form
                                .form-group
                                    .row
                                        .col-md-12
                                            label.form-control-label(for="currency") Currency:
                                                select.form-control(name="currency" ng-model="of.bookFormat.currency")
                                                    option(value="USD") USD
                                            p Input Currency to be converted to USD. This will be used in reports to visualize data in USD.
                                        .col-md-12
                                            label.form-control-label(for="timezone") Time Zone:
                                                select.form-control(name="timezone" ng-model="of.bookFormat.time_zone")
                                                    option(value="America/New_York") America/New_York
                                            p Feed and Bets Time Zone used by the operator. To be converted to server time. Also used for report calculation.
                                        .col-md-12
                                            label.form-control-label(for="oddformat") Odd Format:
                                                select.form-control(name="oddformat" ng-model="of.bookFormat.odd_format")
                                                    option(value="American") American
                                                    option(value="Decimal") Decimal
                                            p Expected Input/Output for odds. Will be converted to our internal format.
                                        .col-md-12
                                            button.btn.btn-warning(ng-click="of.updateFormat()" ng-disabled="of.successMsg") Save
                                            button.btn.btn-raised.btn-success.am-slide-right(ng-show="of.successMsg")
                                                span.ion-checkmark
                                            button.btn.btn-raised.btn-danger.am-slide-right(ng-show="of.errorMsg")
                                                span.ion-close-circled
    .row
        .col-sm-7
            .card(ng-controller="OptionsRankingController as or")
                .card-body
                    h4.card-title API Ranking Options
                    p.card-text In this section we edit the raking settings for the suggestion system.
                    button.btn.btn-warning(ng-click="or.updateRanking()" ng-disabled="or.successMsg") Save
                    button.btn.btn-danger(ng-click="or.init()" ng-show="or.touched") Cancel
                    button.btn.btn-raised.btn-success.am-slide-right(ng-show="or.successMsg")
                        span.ion-checkmark
                    button.btn.btn-raised.btn-danger.am-slide-right(ng-show="or.errorMsg")
                        span.ion-close-circled
                    .row.margin-top
                        .table-responsive
                            table.table.table-striped
                                thead
                                    tr
                                        th Rank
                                        th Line Move Max %
                                        th Max Expected
                                        th Limit %
                                        th Limit per bet
                                tbody
                                    tr(ng-repeat='ranking in or.bookRanking')
                                        td
                                            p.m0 {{ranking.rank}}
                                        td
                                            p.m0
                                                a(
                                                    editable-number='ranking.max_line_change_percent' 
                                                    onbeforesave='or.checkPercentage100($data)'
                                                    e-step="any"
                                                    onaftersave='or.setMaxLineChangePercent($data, ranking)'
                                                ) {{ranking.max_line_change_percent + '%'}}
                                        td
                                            p.m0 
                                                a(
                                                    editable-number='ranking.max_amount_expected' 
                                                    onbeforesave='or.checkRankingLimits($data, ranking)'
                                                    onaftersave='or.setMaxExpected($data, ranking)'
                                                ) {{ranking.max_amount_expected | currency}}
                                        td
                                            p.m0 
                                                a(
                                                    editable-number='ranking.limit_percent' 
                                                    onbeforesave='or.checkPercentage100($data)'
                                                    e-step="any"
                                                    onaftersave='or.setLimitPercent($data, ranking)'
                                                ) {{ranking.limit_percent + '%'}}
                                        td
                                            p.m0 
                                                a(
                                                    editable-number='ranking.limit_amount' 
                                                    onbeforesave='or.checkLimitAmount($data, ranking)'
                                                    onaftersave='or.setLimitAmount($data, ranking)'
                                                ) {{ranking.limit_amount | currency}}
        .col-sm-5
            .card(ng-controller="OptionsCentlineController as oc")
                .card-body
                    h4.card-title API Centline Options
                    p.card-text In this section we can choose a predefined centline and edit its values if necessary.            
                    .form-group.margin-top
                        label.form-control-label(for="centlinePreset") Centline Preset:
                            select.form-control(name="centlinePreset" ng-model="oc.bookCentline.presetSelected")
                                option(value="")
                                option(
                                    ng-value="sel" 
                                    ng-repeat="(sel, cent) in oc.bookCentline.presets"
                                ) {{sel}} Cents
                        .btn.btn-raised.btn-primary(ng-click="oc.loadPresetClick()") Load
                        p Select Centline preset to load.
                    button.btn.btn-warning(ng-click="oc.saveBookCentline()" ng-disabled="oc.successMsg") Save
                    button.btn.btn-danger(ng-click="oc.init()" ng-show="oc.touched") Cancel
                    button.btn.btn-raised.btn-success.am-slide-right(ng-show="oc.successMsg")
                        span.ion-checkmark
                    button.btn.btn-raised.btn-danger.am-slide-right(ng-show="oc.errorMsg")
                        span.ion-close-circled
                    .row.margin-top
                        .table-responsive
                            table.table.table-striped
                                thead
                                    tr
                                        th Pos
                                        th Money Line
                                        th Cents
                                tbody
                                    tr(ng-repeat='(pos, centline) in oc.bookCentline.current')
                                        td
                                            p.m0 {{pos + 1}}
                                        td
                                            p.m0
                                                a(
                                                    editable-number='centline.ml' 
                                                    onbeforesave='oc.checkMLInput($data, pos)'
                                                    e-step="any"
                                                    onaftersave='oc.touch()'
                                                ) {{centline.ml}}
                                        td
                                            p.m0 
                                                a(
                                                    editable-number='centline.cent' 
                                                    onbeforesave='oc.checkCentInput($data, pos)'
                                                    onaftersave='oc.touch()'
                                                ) {{centline.cent}}
                                        
            
                                    
                                        
            
                